{{#section 'style'}}
<style>

    img {
        border: 1px solid black;
    }

    .btn-primary {
        background-color: grey;
        border
    }

    .space {
        margin-top: 10px;
    }


    .header {
        margin-top: 30px;
    }

</style>
{{/section}}
<div class="container page-container">

    <div class="row header">
        <div class="col-md-8">
                <h1 class="display-3">Welcome to CookBook</h1>
        </div>
    </div>


    <div class="row space col-md-12">
        <p>CookBook is the easiest way to store and retrieve relevant information for recipes in this increasingly cluttered
            web.
        </p>
        <p>Simply give CookBook the recipe link and you're done. CookBook will extract only what you need, no mess.</p>
        
    </div>

    <hr/>
    <div class="row space">
        <div class="col-md-4">
            <h3 class="display-4">The Launch of CookBook</h3>
            <p>CookBook has gone live, ready and able to retrieve recipes from a variety of websites and services.</p>
            <p>Don't put up with annoying ads and pop-ups anymore. Simply copy, paste, cook.</p>
        </div>
        <div class="col-md-8">
            <img class="img-fluid" src="https://www.ghostlittle.com/hs-fs/hubfs/Screen_Shot_2016-09-09_at_8.17.41_AM.png?t=1523473836492&width=600&name=Screen_Shot_2016-09-09_at_8.17.41_AM.png">
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <button id="loginBtn" type="button" class="btn btn-secondary" onclick="location.href = '/login/google'">Log in with Google</button>
    </div>
</footer>
